.action-button-container{
	padding: 2em 0;
	border-bottom: solid #333 1px;
}
.success{
	color: green;
}
.fail{
	color: #B42D29;
}
.form-table th {
	display: none;
}
.form-table td {
	padding: 15px 0;
}
input#bbd_init_logo_slug {
	width: 300px;
	margin: 0;
}